ul {
  list-style-type: none;
  padding: 0;
}

#main-container-dark {
  color: white;
}

#main-container {
  margin: 0 30px;
}

.video-list {
  padding: 0 40px;
  /* padding: 0px 10px; */
}

/* use in playlist and videos */
#paper-dark {
  background-color: #3b404c;
  color: white;
}

#paper {
  background-color: beige;
}

/* use in playlist and videos */
#title {
  margin-bottom: 10px;
}

#operation-buttons {
  margin: 15px;
}